@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: rgb(28, 74, 109);
}

/* header elements*/

.cliffs-image {
    height: 15rem;
    width: 100%;
    background: url(../images/keel.jpeg);
    position: relative;
}

.text {

    color: rgb(1, 24, 42);
    font-size: 4rem;
    font-family: Lobster, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    width: auto;
    height: auto;
    position: absolute;
    top: 35%;
    left: 25%;

}

/* Navigation*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 10rem;

    font-size: 150%;
    letter-spacing: 0.25rem;
    list-style-type: none;
   

}

.container a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.container a:hover {
    color: rgb(255, 183, 3);
}

/* About us section*/

#box {
    display: flex;
    height: 15rem;
}

.restaurant-img {
    background-image: url(../images/bistro.jpg);
    background-repeat: no-repeat;
    height: 30rem;
    width: 100%;
    margin-left: 2rem;
    align-items: flex-start;
}

.description {
    font-family: inherit;
    color: inherit;
    font-size: 2rem;

    align-items: flex-end;
    flex-wrap: wrap;

    margin-right: 2rem;
    width: 100%;
}

/*contact, location, opening times section*/

.open {
   display: flex;
   justify-content: center;
   color: rgb(255, 183, 3);
   font: bolder;
   background-color: rgb(1, 24, 42);
   height: fit-content;
   letter-spacing: 0.2rem;
}

.open :hover {
    background-color: rgb(255, 183, 3);
    color: rgb(1, 24, 42);
}