@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: rgb(28, 74, 109);
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

/* header elements*/

.main-image {
    height: 15rem;
    width: 100%;
    background: url(../images/keel.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
}

.text {

    color: whitesmoke;
    font-size: 4rem;
    font-family: Lobster, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    width: 100%;
    text-align: center;
    padding-top: 5rem;
   }

/* Navigation*/

.container {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    text-align: center;
    font-size: 150%;
    letter-spacing: 0.25rem;
    list-style-type: none;
}

.container a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.container a:hover {
    color: rgb(255, 183, 3);
    background-color: rgb(1, 24, 42);
}

/* About us section*/

.bistro-img {
   width: 100%;
   height: auto;
}

.bistro-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: inline-block;
}

.description {
    display: inline-block;
    font-size: 2rem;

    padding: 2rem 0;
    width: 100%;
}

/*contact, location, opening times section*/

.lower {
    width: 100%;
    height: auto;
}

.box-details {
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 24, 42);
}

.box-details :hover {
    background-color: rgb(255, 183, 3);
    color: rgb(1, 24, 42);
}

.info {
    padding: 1rem;
    width: 100%;
    color: rgb(255, 183, 3);
    height: auto;
    letter-spacing: 0.2rem;
}

.info a {

    color: rgb(255, 183, 3);
    text-decoration: none;
}



/* social media links and footer */

footer {
    height: 8rem;
    background-color: rgb(28, 74, 109);
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {

    font-size: 3rem;
    padding: 2.5%;
    color: rgb(255, 183, 3);
}

/*media queries*/

/* for larger to medium screen size from 1200px wide and down*/

@media screen and (max-width:1200px) {

    #box {
        display: flex;
        max-width: fit-content;
    }

    .bistro-img {
        flex: 0 0 50vh;
        flex: 1;
        max-width: auto;
        min-height: max-content;
        margin-left: auto;

    }
}

/* For medium screen sizes below 950px width */
@media screen and (max-width:950px) {

    .text {
        padding-top: 2rem;
    }

    .container {
       font-size: 90%;
    }

    .container h2 {
        padding-right: 2rem;
    }
}

/* For small screen sizes below 800px width */
@media screen and (max-width:800px) {

    .cliffs-image {
        height: 10rem;
        width: auto;
    }

    .text {
        font-size: 3rem;
        text-align: center;
    }

    .container {
        width: auto;
        height: auto;
        font-size: 100%;
    }

    .container h2 {
        padding-right: 2rem;
    }

    .box {
        justify-content: center;
    }

    .description {
        flex: 0 0 50vh;
        flex: 1;
        max-width: fit-content;
        min-height: max-content;
        padding-right: 2rem;
        font-size: 150%;
    }
}

/* For small screen sizes below 600px width */
@media screen and (max-width:600px) {

    .box-details  {
        display: inline-block;
        width: 94%;
     }
    
    }

    /*For small screen sizes below 450px*/

    @media screen and (max-width:450px) {
        .box-details {
            display: inline-block;
            width: 93%;
        }
    }
      
    /*For small screen sizes below 395px*/

    @media screen and (max-width:395px) {

        .box-details {
            display: inline-block;
            width: 92%;
        }
      }
      

    /* For small screen sizes below 345px width */
@media screen and (max-width:345px) {

    .box-details {
        display: inline-block;
        width: 90%;
    }
}
